body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-repeat: repeat;
  background-position-x: center;
  background-position-y: center;
}
h1 {
  padding-left: 12px;
}
h1 label {
  padding-left: 10px;
}
h1 input {
  width: 38px;
  border-width: 1px;
  border-style: solid;
}
h1 button {
  border-width: 1px;
  border-style: solid;
}
#music {
  position: fixed;
  top: 0;
  right: 0;
  display: inline-block;
  opacity: 0.1;
}
#music:hover {
  right: 0;
  opacity: 0.7;
}
#area {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
#chat {
  flex-grow: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
#menu {
  line-height: 150%;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-left: 12px;
}
.menu div {
  padding: 5px 8px;
  display: inline-block;
  cursor: pointer;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: -1px;
}
.curmenu,
.menu div:hover {
  border-top-width: 1px;
  border-top-style: solid;
  border-left-width: 1px;
  border-left-style: solid;
  border-right-width: 1px;
  border-right-style: solid;
  margin-left: 1px;
  margin-right: 1px;
}
.curmenu {
  font-weight: bold;
  pointer-events: none;
}

#cardarea {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#card {
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-left-width: 12px;
  border-left-style: solid;
  border-right-width: 1px;
  border-right-style: solid;
  padding: 12px;
  max-width: 288px;
  min-width: 100px;
  max-height: 88%;
  overflow: auto;
}
.usercard {
}
.cutx,
.cuid,
.cumz,
.cuqm,
.cubt {
  text-align: center;
}
.cutx img {
  width: 88px;
  height: 88px;
  border-radius: 50%;
}
.cuid {
}
.cumz {
  margin: 12px 0;
  font-weight: bold;
}
.cuqm {
  margin-bottom: 12px;
}
.cucs,
.cusr,
.cusj {
  opacity: 0.6;
}
.cubt button {
  cursor: pointer;
  margin-top: 12px;
}

#userform {
  flex-grow: 1;
  overflow: auto;
  padding: 5px 12px;
}
#userform > label {
  display: block;
  padding-bottom: 5px;
}
#userform > button {
  margin-top: 12px;
  padding: 12px 24px;
}
#userform input,
#userform select {
  padding: 5px;
  margin-right: 5px;
}
#userform select > option {
}
#user {
  flex-grow: 1;
  overflow: auto;
  padding: 5px 12px;
}
.userd,
.usertx {
  display: inline-block;
  width: 52px;
  border-width: 1px;
  border-style: solid;
  padding: 5px 12px;
  margin: 5px;
}

#msgform {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-top-width: 1px;
  border-top-style: solid;
}
.astbg,
#msgformtools,
#msgformsaytool:hover {
}
#msgformtool {
  display: none;
  width: 100%;
}
#msgformtools {
  padding: 11px;
  max-height: 128px;
  overflow: auto;
}
#msgformtools > img {
  cursor: pointer;
}
#msgformsay {
  flex-grow: 1;
  display: flex;
  align-items: center;
  width: 100%;
}
#msgformsaytool {
  width: 26px;
  height: 26px;
  line-height: 26px;
  font-size: larger;
  text-align: center;
  cursor: pointer;
  padding: 0 5px;
}
#msgformdx {
  display: inline-block;
  height: 26px;
  cursor: pointer;
  margin-right: 5px;
}
#msgformsay > input {
  flex-grow: 1;
  padding: 5px;
  margin-right: 5px;
}
#msgformsay > button {
  padding: 5px;
  border-radius: 20%;
  cursor: pointer;
  margin-right: 5px;
}
#msg {
  flex-grow: 1;
  overflow: auto;
  line-height: 150%;
}
.msgg {
  display: inline-block;
  text-align: left;
  padding: 5px 12px;
  margin: 5px 12px;
  border-width: 1px;
  border-style: solid;
}
.msgmy {
  text-align: right;
}
.msgmy .msg {
  flex-direction: row-reverse;
}
.msgmy .csj {
  text-align: right;
}
.msgmy .cxx {
  border-radius: 12px 0 12px 12px;
}
.msgd {
  display: inline-block;
  text-align: left;
  padding: 5px 12px;
  margin: 5px 12px;
}
.msg {
  display: flex;
}
.msgu {
  width: 52px;
}
.msgc {
  flex-grow: 1;
  margin: 0 5px;
}
.cxx {
  border-width: 1px;
  border-style: solid;
  padding: 12px;
  border-radius: 0 12px 12px 12px;
}

.csj {
}
.user {
  width: 100%;
  cursor: pointer;
}
.utx img {
  width: 52px;
  height: 52px;
  border-radius: 50%;
}
.umz {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.lx20 {
}
.lx22,
.lx23,
.lx24 {
}
.lx22 {
  background-color: rgb(253, 251, 239, 0.7);
}
.lx23 {
  background-color: rgb(239, 253, 246, 0.7);
}
.lx24 {
  background-color: rgb(253, 239, 239, 0.7);
}
.lx26 {
  background-color: rgba(239, 246, 253, 0.7);
}
